{% extends "adminLayout.html" %}
{% block body %}

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="/home" class="w3-bar-item w3-button">Product Categories</a>
  <a href="/products" class="w3-bar-item w3-button">Products</a>
  <a href="/pspecific" class="w3-bar-item w3-button">Product Specification</a>
  <a href="/reports" class="w3-bar-item w3-button">Reports</a>
</div>

    <div class="row" style="margin-left:15%"><h3>Products Details</h3></div>

  <div class="row" style="margin-left:14%">
    <div class="col-md-4" >
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('products1')}}" method="POST" enctype="multipart/form-data">

          <div class="form-group"> 
            <select name="id" id="id" onchange="function1()">
                {% for data1 in product1 %}
                <option value="{{data1[0]}}">{{data1[0]}}</option>
                {% endfor %}
            </select>
          </div>
          {% set q=namespace(n2=0) %}
          {% for data in data11 %}
          <input type="hidden" name="catid" value={{data[0]}} id="catid{{q.n2}}">
          <input type="hidden" name="catname" value={{data[1]}} id="catname{{q.n2}}">
          {% set q.n2=q.n2+1 %}
          {% endfor %}
          <input type="hidden" value={{l1}} name="length" id="length">
          <div class="form-group">
            <span id="title"></span>
          </div>
          
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="description" placeholder="Description">
          </div>
          <div class="form-group">
				    <label>Photo</label>
				    <input type="file" class="form-control" name="thumbnail" />
          </div>



          <button class="btn btn-primary btn-block">
            Save 
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Discription</th>
            <th>Thumbnail</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          {% for data in product %}
          <tr>
            <td>{{data[0]}}</td>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>{{data[3]}}</td>
            <td>{{data[4]}}</td>
            <td width="130">
              <a href="/productedit/{{data[0]}}" class="btn btn-secondary btn-sm">edit</a>
              <a href="/productdelete/{{data[0]}}" class="btn btn-danger btn-delete btn-sm">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
function function1(){
  var l=document.getElementById('length').value;
 
  var s=document.getElementById('id').value;
  var select=document.getElementById('title');
  for(var i=0;i<l;i++){
    var s1=document.getElementById('catid'+i).value;
    var d1=document.getElementById('catname'+i).value;
    if(s1===s){
      $("#title").html(d1);
    }
  }
}
</script>
{% endblock %}